 .u-section-1 {
  background-image: url("../images/background--51x.38a12e01.png");
  background-position: 50% 50%;
  min-height: 1102px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 276px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 551px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 105px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Chewy;
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 28px auto 0 140px;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 551px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 15px;
}

.u-section-1 .u-image-1 {
  width: 110px;
  height: 110px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 139px;
  height: 139px;
  margin: 265px auto 0 0;
}

.u-section-1 .u-image-3 {
  height: auto;
  transition-duration: 0.5s;
  margin-top: -509px;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 192px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-size: 2.25rem;
    margin-top: 116px;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-family: Montserrat, sans-serif;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 105px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -459px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 750px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 188px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 5px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 26px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 374px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 119px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -368px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1109px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 125px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 98px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: 139px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 182px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 19px;
    margin-right: 59px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: -35px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -358px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  color: #ffffff !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  color: #ffffff !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: url("../images/background--31x.a7b7aa54.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 822px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 702px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  width: 586px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 365px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: -47px auto 0 561px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 428px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px auto 0 277px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 684px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 13px;
    margin-left: 265px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 461px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 156px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 349px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 30px;
    margin-left: 113px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: -36px;
    margin-left: 269px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 405px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 255px;
  }
} .u-section-3 {
  background-image: url("../images/background--41x.4539870f.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 469px;
}

.u-section-3 .u-list-1 {
  width: 764px;
  margin: 47px auto;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 375px;
}

.u-section-3 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: 2px 0px 14px 1px rgba(64,56,255,0.6);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 2px 0px 14px 1px rgba(64,56,255,0.6);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-3 {
  transition-duration: 0.5s;
  box-shadow: 2px 0px 14px 1px rgba(64,56,255,0.6);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 599px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #db545a !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 636px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 53px auto 0;
}

.u-section-4 .u-tabs-1 {
  min-height: 394px;
  margin-top: 72px;
  margin-bottom: 53px;
  height: auto;
}

.u-section-4 .u-tab-link-1 {
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-4 .u-tab-link-2 {
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-4 .u-tab-link-3 {
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-4 .u-tab-link-4 {
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-4 .u-tab-pane-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0 306px 0 0;
}

.u-section-4 .u-tab-pane-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 0 306px 0 0;
}

.u-section-4 .u-tab-pane-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 0 306px 0 0;
}

.u-section-4 .u-tab-pane-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  margin: 0 306px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 106px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 106px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 106px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 48px;
    font-size: 2.25rem;
  }

  .u-section-4 .u-tabs-1 {
    margin-top: 32px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: url("../images/background--51x.38a12e01.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 357px;
  margin-top: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 60px;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-custom-html-1 {
  height: auto;
  min-height: 43px;
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: none;
  margin: 33px auto 0;
}

.u-section-6 .u-custom-html-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-6 .u-custom-html-3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-6 .u-custom-html-4 {
  height: auto;
  min-height: 668px;
  width: 398px;
  margin: -25px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 12px;
    margin-left: calc(((100% - 1140px) / 2) + 407px);
  }

  .u-section-6 .u-custom-html-4 {
    margin-top: -18px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 843px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-6 .u-custom-html-2 {
    margin-top: -16px;
  }

  .u-section-6 .u-custom-html-4 {
    margin-top: 0;
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 407px);
  }

  .u-section-6 .u-custom-html-4 {
    margin-left: calc(((100% - 1140px) / 2) + 371px);
    margin-right: calc(((100% - 1140px) / 2) + 371px);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-custom-html-1 {
    margin-top: -2px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 19px;
    margin-left: calc(((100% - 1140px) / 2) + 440px);
  }

  .u-section-6 .u-custom-html-4 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
}

.u-block-2b7c-56:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-56:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-2b7c-56:not([data-block-selected]):not([data-cell-selected]).u-block-2b7c-56:not([data-block-selected]):not([data-cell-selected]).u-block-2b7c-56:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-2b7c-62:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-62:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-2b7c-62:not([data-block-selected]):not([data-cell-selected]).u-block-2b7c-62:not([data-block-selected]):not([data-cell-selected]).u-block-2b7c-62:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-2b7c-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-2b7c-68:not([data-block-selected]):not([data-cell-selected]).u-block-2b7c-68:not([data-block-selected]):not([data-cell-selected]).u-block-2b7c-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-2b7c-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-2b7c-74:not([data-block-selected]):not([data-cell-selected]).u-block-2b7c-74:not([data-block-selected]):not([data-cell-selected]).u-block-2b7c-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-6 .u-custom-html-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-6 .u-custom-html-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-6 .u-custom-html-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-container-layout:hover .u-custom-html-4:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-6 .u-custom-html-4:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-2b7c-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2b7c-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-2b7c-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-2b7c-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2b7c-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-2b7c-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-2b7c-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2b7c-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-2b7c-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-2b7c-66:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-66:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2b7c-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-2b7c-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-6 .u-custom-html-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-6 .u-custom-html-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-6 .u-custom-html-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-container-layout:hover .u-custom-html-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-6 .u-custom-html-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-2b7c-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2b7c-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-2b7c-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-2b7c-78:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-78:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2b7c-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-2b7c-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-2b7c-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2b7c-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-2b7c-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-2b7c-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2b7c-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-2b7c-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-2b7c-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2b7c-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-2b7c-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-2b7c-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-2b7c-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2b7c-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2b7c-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-2b7c-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
} .u-section-7 {
  background-image: url("../images/background--61x.b2ed7de8.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 526px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-7 .u-video-1 {
  width: 639px;
  height: 360px;
  margin: 11px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-7 .u-video-1 {
    height: 359px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-7 .u-video-1 {
    width: 540px;
    height: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 81px;
  }

  .u-section-7 .u-video-1 {
    width: 340px;
    height: 191px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 541px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 412px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-8 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 12px 0 0;
}

.u-section-8 .u-icon-1 {
  height: 32px;
}

.u-section-8 .u-icon-2 {
  height: 32px;
}

.u-section-8 .u-icon-3 {
  height: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 359px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 26px auto 0 0;
}

.u-section-8 .u-text-4 {
  font-weight: 400;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-8 .u-text-5 {
  font-weight: 400;
  margin: 19px auto 0 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-8 .u-text-6 {
  font-weight: 400;
  margin: 19px auto 0 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-8 .u-text-7 {
  font-weight: 400;
  margin: 19px auto 0 0;
}

.u-section-8 .u-btn-4 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-8 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-8 .u-text-8 {
  margin: 37px auto 0 88px;
}

.u-section-8 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -44px auto 37px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 296px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    margin-top: 41px;
    margin-left: 78px;
  }

  .u-section-8 .u-icon-4 {
    margin-top: -45px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 64px;
  }
}